.custom-container{
  background-color: grey;
  box-sizing: border-box;
  padding: 5vh 15vw;
  height: 100vh;
  width: auto;
  background-image: url("../../assets/images/searchparty2.jpg") ;
  background-size: cover;
  background-position: center;
}

.content-container{
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  font-family: 'Anton', sans-serif;
}

.content-container h3,h4{
  text-align: center;
  font-size: 3vh;
  color: white;
  text-shadow: 2px 2px black;
  margin-bottom: 1vh;
  letter-spacing: 0.5vw;
}

.custom-party-container{
  margin-top: 3vh;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
}

.custom-party-container>img{
  display:block;
  max-width:30vh;
  max-height:30vh;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.custom-button-arrow{
  margin-top: 15vh;
  padding: 0;
  color: white;
  background: none;
  text-shadow: 2px 2px black;
  font-size: 10vh;
  border-style: none;
  box-shadow: none;
  border: none;
  outline:none;
}

.custom-button-arrow:hover{
  color: orange;
  user-select:none;
}

.custom-button-arrow:active{
  background: none;
  outline:none;
}


.content-container-social{
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.custom-button-owned{
  color: white;
  background: none;
  text-shadow: 2px 2px black;
  font-size: 5vh;
  border-style: none;
  box-shadow: none;
  border: none;
  outline:none;
}

.custom-button-owned:hover{
  color: orange;
  user-select:none;
}

.custom-button-owned:active{
  background: none;
  outline:none;
}

.custom-button-partiesSearch{
  color: white;
  background: none;
  text-shadow: 2px 2px black;
  font-size: 5vh;
  border-style: none;
  box-shadow: none;
  border: none;
  outline:none;
}

.custom-button-partiesSearch:hover{
  color: orange;
  user-select:none;
}

.custom-button-partiesSearch:active{
  background: none;
  outline:none;
}

.content-container-edit{
  padding: 5vh 10vw;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.custom-button-edit{
  color: white;
  background: none;
  text-shadow: 2px 2px black;
  font-size: 5vh;
  border-style: none;
  box-shadow: none;
  border: none;
  outline:none;
}

.custom-button-edit:hover{
  color: orange;
  user-select:none;
}

.custom-button-edit:active{
  background: none;
  outline:none;
}

.custom-button-edit-pictures{
  color: white;
  background: none;
  text-shadow: 2px 2px black;
  font-size: 5vh;
  border-style: none;
  box-shadow: none;
  border: none;
  outline:none;
}

.custom-button-edit-pictures:hover{
  color: orange;
  user-select:none;
}

.custom-button-edit-pictures:active{
  background: none;
  outline:none;
}


.custom-button{
  height: 10vh;
  margin: 1vh 5vw;
  padding: 0;
  border-radius: 0%;
  color: white;
  background-color: black;
  font-size: 3vh;
  text-shadow: 2px 2px black;
  letter-spacing: 1vw;
  border-style: none;
}

.custom-button:hover{
  border-style: double;
}
