<p>
  show-currentuser works!
</p>
<div *ngIf="!isLoading">
  <p>Loading...</p>
</div>
<div *ngIf="isLoading">
  <h1>{{user.username}}</h1>
  <h2>{{user.profile.firstName}}</h2>
  <h2>{{user.profile.lastName}}</h2>
  <h2>{{user.profile.sex}}</h2>
  <h2>{{user.profile.age}}</h2>
  <button type="button" (click)="editUserDetails(user._id)">edit user details</button>
  <div *ngFor="let picture of user.profile.pictures">
    <img [src]='picture' />
  </div>
  <div *ngFor="let party of user.partiesOwned">
    <h3>{{party.name}}</h3>
    <p>{{party.ageRange.minAge}}</p>
    <p>{{party.ageRange.maxAge}}</p>
    <p>{{party.ageRange.minPeople}}</p>
    <p>{{party.ageRange.maxPeople}}</p>
    <p>{{party.gender}}</p>
    <div *ngFor="let picture of party.pictures">
      <img [src]='picture' />
    </div>
    <button type="button" (click)="editPartyDetails(party._id)">edit party details</button>
  </div>
</div>
<button type="button" (click)="goBack()">Go Back</button>
<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->
