<div *ngIf="!isLoading">
  <p>Loading...</p>
</div>
<div *ngIf="isLoading">
  <div *ngIf="isParties">
    <div class="party-list">
        <h3> {{ party.name }}&nbsp;</h3>
        <h4> {{ party.numOfPeople.numJoined }}&nbsp;</h4>
        <div *ngIf="picture">
          <img [src]='api_url+picture' />
        </div>
        <button type="button" (click)="previousPicture()">previous picture</button>
        <button type="button" (click)="nextPicture()">next picture</button>
        <button type="button" (click)="joinParty(party)">Join Party</button>
      <button type="button" (click)="notJoinParty(party)">not Join Party</button>
    </div>
  </div>
  <div *ngIf="!isParties">
    <h3>No more parties</h3>
  </div>
  <p>Hello {{userId}}</p>
  <a [routerLink]="['/profile/'+userId+'/show']"> View Details </a>
  <h3><a [routerLink]="['/profile/'+userId+'/parties']"> User Owned Parties </a></h3>
  <h3><a [routerLink]="['/profile/'+userId+'/parties/joined']"> User Joined Parties </a></h3>
</div>
